.btn_fire{
    margin: 0;
    margin-left: 25px;
    padding: 0;
    width: 228px;
}

.btn_edit{
    margin: 0;
    margin-left: 25px;
    padding: 0;
    width: 203px;
}

.btn_transfer{
    margin: 0;
    margin-left: 25px;
    padding: 0;
    width: 253px;
}